header {
    background-image: url("../images/Movies.png");

    height: 200px;





}
body {  

    background: url("../images/Film.jpg.") repeat;

    color: red;
}
h1 { 
    background-color: white;
    color: blue;



}

footer{


    background-color: chocolate;
}







